@model IList<App.WebUI.Areas.SysManage.Models.ModuleViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SysManage/Views/Shared/_TableLayout.cshtml";
}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>模块管理</h5>
            <div class="ibox-tools">
                @*<a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="table_basic.html#">选项1</a>
                    </li>
                    <li>
                        <a href="table_basic.html#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>*@
                <button type="button" class="btn btn-primary btn-xs">Mini按钮</button>
                <a class="btn btn-primary btn-xs" id="insert" action="add"><i class="fa fa-plus-circle fa-fw"></i> 创建新模块</a>
                <a class="btn btn-warning btn-xs" id="modify" action="edit"><i class="fa fa-pencil fa-fw"></i> 编辑</a>
                <a class="btn btn-danger btn-xs" id="delete" action="remove"><i class="fa fa-trash-o fa-fw"></i> 删除</a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-5 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline">
                        <option value="0">请选择</option>
                        <option value="1">选项1</option>
                        <option value="2">选项2</option>
                        <option value="3">选项3</option>
                    </select>
                </div>
                <div class="col-sm-4 m-b-xs">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-sm btn-white">
                            <input type="radio" id="option1" name="options">天
                        </label>
                        <label class="btn btn-sm btn-white active">
                            <input type="radio" id="option2" name="options">周
                        </label>
                        <label class="btn btn-sm btn-white">
                            <input type="radio" id="option3" name="options">月
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>所属系统</th>
                            <th>模块名称</th>
                            <th>模块别名</th>
                            <th>模块类型</th>
                            <th>模块地址</th>
                            <th>状态/顺序</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="i-checks" name="input[]" />
                                </td>
                                <td>@item.SYSNAME</td>
                                <td>@item.NAME</td>
                                <td>@item.ALIAS</td>
                                <td>@item.SHOWORDER</td>
                                <td>@item.MODULEPATH</td>
                                <td>@item.ISSHOW/@item.SHOWORDER</td>
                                <td>@item.BELONGSYSTEM</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
